        body {
            margin: 0;
            padding: 0;
            background-image: linear-gradient(white,lightblue);
            font-family: "Segoe UI", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
       

        form {
            background: white;
            padding: 30px 35px;
            border-radius: 14px;
            box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
            width: 360px;
        }

        h1 {
            text-align: center;
            color: #0d98ba;  /* hospital blue */
            margin-bottom: 20px;
        }

        table {
            width: 100%;
        }

        input {
            width: 100%;
            padding: 12px;
            margin: 8px 0;
            border-radius: 8px;
            border: 1px solid #a6d7e4;
            font-size: 15px;
            background: #f4fcff;
            outline: none;
        }

        input:focus {
            border-color: #0d98ba;
            box-shadow: 0 0 4px rgba(13, 152, 186, 0.4);
        }

        button {
            width: 100%;
            padding: 12px;
            background: #1bb55c; /* hospital green */
            border: none;
            color: white;
            font-size: 16px;
            font-weight: 600;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 10px;
        }

        button:hover {
            background: #159247;
        }

        p {
            text-align: center;
            font-weight: bold;
            color: red;
        }
        