body{
    background-image: url("https://www.shutterstock.com/image-photo/medical-worker-plus-icon-represents-600nw-2474393153.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 