/* ----------- TABLE STYLING ----------- */
table {
    background-image: linear-gradient(rgba(0, 128, 0, 0.619),white);
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    
}

table th {
    background-color: #0077b6;   /* hospital blue */
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 16px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    
}

table tr:hover {
    background-color: #f1faff;
}
.btn-edit {
    background: green;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-del {
    background: red;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-add {
    background: blue;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    margin: 20px 20px;
    display: inline-block;
}
#edit:hover {
    background-color: #27ae60;
}

#del:hover {
    background-color: #c1121f;
}

#add:hover {
    background-color: #0d47a1;
}
 h1 {
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
